<a href="https://colab.research.google.com/github/Oh-HyunYoung/py17/blob/master/notebook/mid_exam_py17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 활용 중간고사 풀이

### 문제 1. 다음 식의 연산 결과는?
- a = 5
- b = 3
- a**b

In [0]:
a = 5
b = 3
a**b # **은 제곱을 뜻함. 그러므로 125 출력

125

### 문제 2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
- a = "Life is too short, You need Python!"
- a[-16:-8]

In [0]:
a = "Life is too short, You need Python!"
a[-16:-8] # -16은 Y부터를 뜻하고, :-8은 d까지를 뜻한다. 그러므로 You need 출력

'You need'

### 문제 3. 다음 list a의 인덱싱 결과는?
- a = [1, 2, (3, 4), ['a' ,'b', [ 'My', 'Life', 'Good' ]]]
- a [3][-1][0]

In [0]:
a = [1, 2, (3, 4), ['a' ,'b', [ 'My', 'Life', 'Good' ]]]
a [3][-1][0] #(),[]로 묶여진 것은 각각이 아닌 하나로 세고 3은 ['a' ,'b', ['My', 'Life', 'Good']],여기서 -1은 ['My', 'Life', 'Good']이 범위이다. 그리고 0은 첫번째인 My를 뜻한다.

'My'

### 문제 4. 다음 tuple t1의 슬라이싱 결과는?
- t1 = (0, 1, "s", "t", "u")
- t1 [2:-2]

In [0]:
t1 = (0, 1, "s", "t", "u")
t1 [2:-2] # tuple을 사용할 때에는 ,를 붙여주어야한다. 그리고 2는 "s"를 뜻하고 -2는 "t"의 뒷부분을 뜻한다. 그래서 's',가 출력된다.

('s',)

### 문제 5. 다음 bool 값 출력 중 정확한 것은?
- bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [0]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,)) 
# 첫번째와 두번째는 []안에 값이 들어있기 때문에 True이고, 세번째는 ()안에 빈 문자열이기 때문에 False, 마지막은 0,가 있어 빈 문자열이 아니므로 True가 나온다.

(True, True, False, True)

### 문제 6. 다음 조건문을 1줄 코드로 변경하시오.
- score = 80
- if score >= 60:
- message = "success"
- else:
- message = "failure"

In [0]:
score = 80
message = "success" if score >= 60 else "failure" 
# 위의 조건을 한줄로 바꾸면 score가 60이상이면 success, 아니면 failure이라는 뜻이다.

### 문제 7. 다음 코드의 실행 결과는?
- games = ["A", "B", "C"]
- for cnt in range (len (games)):
- print(cnt, games [cnt], end = ' , ')

In [0]:
games = ["A", "B", "C"]
for cnt in range (len (games)): # games의 길이를 숫자로 cnt에 대입한다.
  print(cnt, games [cnt], end = ',') 
  # cnt(길이)숫자 0부터 2까지를 출력하는데 사이에 games문자를 넣어줘야함. 그리고 end 에는 ,를 붙여야함

0 A,1 B,2 C,

### 문제 8. 다음의 결과가 출력되지 않는 것은? 'I ate 10 apples. so I was sick for three days.'
# code start
- number = 10
- day = "three"
1. "I ate {0} apples. so I was sick for {1} days.". format(10, day)
2. f"l ate {number} apples. so I was sick for{'three'} days."
3. f"l ate {number} apples. so I was sick for{'day'} days."
4. "I ate {0} apples. so I was sick for {1} days.". format(number = 10, day)

In [0]:
number = 10
day = "three"

# "I ate {0} apples. so I was sick for {1} days.". format(10, day)
# f"l ate {number} apples. so I was sick for{'three'} days."
# f"l ate {number} apples. so I was sick for{'day'} days."
"I ate {0} apples. so I was sick for {1} days.". format(number = 10, day) 
# Keyword argument를 사용해서 SystaxError가 발생하는 틀린 사용법이며 매개변수 사용을 잘못함. number을 지우고 (10, day)로 작성해야함.

SyntaxError: ignored

### 문제 9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
5 + 10 + 15 + 20 + ... + 970 + 975 + ... + 995 + 1000 =?

In [0]:
sum([num for num in range(1, 1001) if num % 5 == 0])
# sum 함수는 값을 더해주고, if문 먼저 보면 5로 나눠지는 함수 즉 5의 배수를 출력해야한다. 1과 1000의 범위 안에서 출력하는 것을 뜻한다.

### 문제 10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?
- subjects = ['python', 'english', 'math', 'science']
- scores = [88, 77, 66, 95]
- total = 0

- for subject, score in [a], _____(subjects, scores):
-    total += score
-    print(subject, score)
    
- print("평균 성적 = {0}".format([b],_______))

In [0]:
zip, total/len(subjects)
# zip은 객체에 지정된 주소값을 출력을 하고, total/len(subjects)는 더해진 값에 subjects의 수를 나누는 것이므로 평균이 구해진다.